
.brand {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: #2b50ed;
    font-size: 3rem;
}




.search {
    display: flex;
    justify-content: center;
}

.search-txt {
    border-radius: 40px;
    border-color: #a9a9b0;
    border-style: solid;
    border-width: 0.1px;
    padding: 5px 20px;
    width: 50%;
    margin-right: 2%;
}

.search-txt:hover {
    box-shadow: 0 5px 5px gray;
    border-style: none;
}

.search-box {
    border-style: none;
    line-height: 3rem;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 1rem;
}

.search-btn {
    padding: 4px;
    border-radius: 100%;
    background-color: #2b50ed ;
    color: white;
    border-style: none;
    width: 60px;
    outline: none;
}

.search-btn:hover {
    box-shadow: 0 5px 5px gray;
}